p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 34px;
    color: brown;
}
.myColor{
    color: coral;
}
.MyClass{
    text-transform: capitalize;
    font-style: italic;
    text-decoration: underline;
    color: yellowgreen;
}
.MyClass2{
    color: blue;
}